button {
    color: white;
    border-radius: 15px;
    border-width: 5px;
    border-style: hidden;
}

img {
    border-radius: 20px;
    border: 5px solid black;
    height: 800px;
    width: 600px;
    padding: 50px;
    background-color: red;
}

.first-txt {
    font-size: 30px;
    position: relative;
    top: -700px;
    right: -100px;
    color: red;
}

.second-txt {
    font-size: 30px;
    position: relative;
    top: -400px;
    right: -100px;
    color: red;
    height: 300px;
    width: 450px;
}

.flex-container {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    /* Standard syntax */
}

.flex-container .column {
    padding: 10px;
    /* background: #dbdfe5; */
    -webkit-flex: 1;
    /* Safari */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* Standard syntax */
}
